{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}

{#<div class="page-utilities">#}
{#  <div class="grid-container large">#}
{#    <nav aria-label="You are here:" role="navigation">#}
{#      <ul class="breadcrumbs">#}
{#        <li><a href="javascript:void(0)" aria-label="Go to Newscenter Home Page">Newscenter Home</a></li>#}
{#        <li><a href="javascript:void(0)" aria-label="Go to 2019 News">2018</a></li>#}
{#        <li><a href="javascript:void(0)" aria-label="Go to 2019 News">December</a></li>#}
{#        <li>#}
{#          <span class="show-for-sr">Current: </span> Coral study traces...#}
{#        </li>#}
{#      </ul>#}
{#    </nav>#}
{#  </div>#}
{#</div>#}

<div class="page-content" id="main-content">
  <div class="grid-container large">
    <div class="grid-x grid-margin-x">
      <div class="cell large-12">
        <div class="category">
          <a class="btn-link" href="{{ content.field_categories[0]['#url'] }}"
             aria-label="">{{ content.field_categories[0]['#title'] }}</a>
        </div>
      </div>
      <div class="cell xlarge-8">
        <h1>{{ label }}</h1>
        {% if content.field_subtitle_formatted|field_value is not empty %}
          <div class="lead">{{ content.field_subtitle_formatted|field_value }}</div>
        {% endif %}
        {{ content.field_embed_txt[0]['#context']['value']|raw }}
      </div>
      <div class="cell xlarge-4">
        <div class="sidebar">
          <div class="profile-info">
            <!-- <div class="profile-prefix">By </div> -->
            <div class="profile-name">
              <a class="btn-link" href="{{ content.field_author_link[0]['#url'] }}"
                 aria-label="">{{ content.field_author }}</a>
            </div>
            <div class="profile-date">{{ node.changedtime|date("F j, Y") }}</div>
          </div>
          <h5>{{ "Share this story:"|t }}</h5>
          {# {{>social-sharing type='top && right'}} #}
          <div class="social-sharing top right">
            {{ drupal_block('kwall_share_bar_block', {'use_module_css': false}) }}
          </div>
          <a class="button primary" href="{{ content.field_author_link[0]['#url'] }}">
            <i class="fa fa-soundcloud fa-1x"></i> {{ "Listen on Soundcloud"|t }}
          </a>
        </div>
      </div>
    </div>

    {% if content.field_media[0]['#media'].field_media_image is not null %}
      {% set is_imabe_banner = true %}
      {% set image_url = file_url(content.field_media[0]['#media'].field_media_image.entity.uri.value) %}
      {% set image_title = content.field_media[0]['#media'].field_media_image[0].title %}
      {% set image_alt = content.field_media[0]['#media'].field_media_image[0].alt %}
      <figure class="img-full">
        <div class="image">
          <img alt="{{ image_alt }}" src="{{ image_url }}">
        </div>
        <figcaption>
          <div class="caption-title"></div>
          <div class="caption-desc"></div>
        </figcaption>
      </figure>
    {% endif %}
  </div>

  <div class="grid-container">
    {% if content.field_lead_formatted|field_value is not empty %}
      <div class="lead" style="margin: 1rem 0 2rem">
        {{ content.field_lead_formatted|field_value }}
      </div>
    {% endif %}
    {{ content.body }}

    {# {{>social-sharing type='bottom'}} #}
    <div class="social-sharing bottom">
      {{ drupal_block('kwall_share_bar_block', {'use_module_css': false}) }}
    </div>
  </div>


  {% if relatedcontentgrid is not empty %}
    <section class="heading">
      <h2 class="underline">{{ "Related Podcasts"|t }}</h2>
    </section>
    <div class="grid-container large">
      {{ relatedcontentgrid }}
    </div>
  {% endif %}
</div>
