<section class="content" id="node-{{ node.id }}">
  <div class="layout-two-column large">
    <div class="wrap">
      <div class="inner">
        <div class="column-main inner-column-main">
          {{ content.field_caption_formatted.0['#text']|raw }}
          <div class="upper-divider">
            <h2>{{ "More Information"|t }}</h2>
            <ul class="tabs" data-responsive-accordion-tabs="tabs small-accordion xlarge-tabs"
                data-allow-all-closed="true" id="more-information-tabs">
              {% for key, item in content.group_information %}
                {% if item|field_value is not null %}
                  {% set acordion_id = key|clean_id %}
                  <li class="tabs-title" data-accordion-item="" role="presentation">
                    <a href="#panel-{{ acordion_id }}" role="tab" aria-controls="panel-{{ acordion_id }}" aria-selected="false"
                       id="panel-{{ acordion_id }}-label"
                       tabindex="-1">{{ item|field_label }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="tabs-content" data-tabs-content="more-information-tabs">
            {% for key, item in content.group_information %}
              {% if item|field_value is not null %}
                {% set acordion_id = key|clean_id %}
                <div class="tabs-panel" id="panel-{{ acordion_id }}" role="tabpanel"
                     aria-labelledby="panel-{{ acordion_id }}-label"
                     aria-hidden="true">
                  <h3>{{ item|field_label }}</h3>
                  {{ item|field_value }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
