<section class="content" id="node-{{ node.id }}">
  <div class="layout-two-column large">
    <div class="wrap">
      <div class="inner">
        <div class="column-main">
          {{ content.field_caption_formatted.0['#text']|raw }}
          <div class="upper-divider">
            <h2>{{ "More Information"|t }}</h2>
            <ul class="tabs" data-responsive-accordion-tabs="tabs small-accordion xlarge-tabs"
                data-allow-all-closed="true" id="example-tabs" role="tablist" data-tabs="iugubg-tabs">
              {% for key, item in content.group_information %}
                {% if item|field_value is not null %}
                  <li class="tabs-title" data-accordion-item="" role="presentation">
                    <a href="#panel-{{ key }}" role="tab" aria-controls="panel-{{ key }}" aria-selected="false"
                       id="panel-{{ key }}-label"
                       tabindex="-1">{{ item|field_label }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="tabs-content" data-tabs-content="example-tabs">
            {% for key, item in content.group_information %}
              {% if item|field_value is not null %}
                <div class="tabs-panel" id="panel-{{ key }}" role="tabpanel" aria-labelledby="panel-{{ key }}-label"
                     aria-hidden="true">
                  <h3>{{ item|field_label }}</h3>
                  <div>{{ item|field_value }}</div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
