{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<div role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby') }}>
  {# Menu. #}
  {% block content %}
    <div class="show-for-xlarge">
    <div class="nav-sidebar">
        {# <div class="page-menu-header" data-responsive-toggle="page-menu" data-hide-for="xlarge"> #}
        {# <div class="page-menu-trigger" data-toggle="page-menu">{{ "In This Section"|t }}</div> #}
        {# </div> #}
        <div id="page-menu" class="page-menu">
          {# Label. If not displayed, we still provide it for screen readers. #}
          {% if not configuration.label_display %}
            {% set title_attributes = title_attributes.addClass('visually-hidden') %}
          {% endif %}
          <ul class="vertical menu">
            {{ title_prefix }}
            <li><a
                  href="" {{ title_attributes.setAttribute('id', heading_id).addClass('section-title') }}>{{ configuration.label }}</a>
            </li>
            {{ title_suffix }}
          </ul>
          {{ content }}
        </div>
      </div>
    </div>
  {% endblock %}
</div>
