<div class="grid-item">

  {% if content.field_image[0] %}
    {% set image_url = file_url(content.field_image[0]['#item'].entity.uri.value|image_style('grid_content')) %}
    {% set image_title = content.field_image[0]['#item'].title %}
    {% set image_alt = content.field_image[0]['#item'].alt %}

    {% if image_url %}
      <p>
        <figure class="img-full">
          <img alt="{{ image_alt }}" title="{{ image_title }}" src="{{ image_url }}"/>
        </figure>
      </p>
    {% endif %}
  {% endif %}

  {# Opening head tag. #}
  {% if content.field_title|field_value is not empty %}
    <h4 class="underline">

      {# Link head tag if exist. #}
      {% if content.field_link|field_value is not empty %}
      <a href="{{ content.field_link[0]['#url'] }}">
        {% endif %}

        {{ content.field_title }}

        {% if content.field_link|field_value is not empty %}
      </a>
      {% endif %}
    </h4>
  {% endif %}
  {# Closing head tag. #}

  {% if content.field_body_unformatted|field_value is not empty %}
    <p>{{ content.field_body_unformatted|field_value }}</p>
  {% endif %}

  {# As values are not more than 2 so put them static here. #}
  {% if content.field_links__max_2[0]['#title'] or content.field_links__max_2[1]['#title'] %}
    <p>
      {% set btn_class = content.field_cta_style|field_value %}
      <a class="{{ field_cta_style__class }}"
         href="{{ content.field_links__max_2[0]['#url'] }}">{{ content.field_links__max_2[0]['#title'] }}</a>
      {% if content.field_links__max_2[1]['#title'] %}
        <a class="{{ field_cta_style__class }}"
           href="{{ content.field_links__max_2[1]['#url'] }}">{{ content.field_links__max_2[1]['#title'] }}</a>
      {% endif %}
    </p>
  {% endif %}

</div>

