{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_id,
  'paragraph--id--' ~ paragraph.id()|clean_id,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_id,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
  <p{{ attributes.addClass(classes) }} aria-label="content row">
    {% block content %}

      {% if content.field_person_link|field_value is not empty %}
        <a href="{{ content.field_person_link[0]['#url'] }}"
           class="btn-link">{{ content.field_person_link[0]['#title'] }}</a><br/>
      {% endif %}

      {% if content.field_body_unformatted|field_value is not empty %}
        {{ content.field_body_unformatted|render|striptags('<br>')|raw }}<br/>
      {% endif %}

      {% if content.field_phones|field_value is not empty %}
        {{ content.field_phones }}<br/>
      {% endif %}

      {% if content.field_email|field_value is not empty %}
        <a href="{{ content.field_email[0]['#url'] }}"
           class="btn-link">{{ content.field_email[0]['#title'] }}</a>
      {% endif %}

      {{ content|without('field_person_link', 'field_body_unformatted', 'field_phones', 'field_email') }}
    {% endblock %}
  </p>
{% endblock paragraph %}
