{% set image_url = file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value|image_style('default')) %}
{% set image_title = content.field_image[0]['#media'].field_media_image[0].title %}
{% set image_alt = content.field_image[0]['#media'].field_media_image[0].alt %}

{% block paragraph %}
  {% if content.field_link|field_value is not empty %}
    <a class="step" href="{{ content.field_link[0]['#url'] }}"
    target="{{ content.field_link[0]['#url'].isExternal() ? '_blank' : '' }}">
  {% endif %}
  <div class="step-container">
    <div class="unit-container">
      <div class="step-text">{{ "Step"|t }}</div>
      <div class="unit">1</div>
    </div>
    <div class="inner">
      <div class="image">
        <img src="{{ image_url }}" title="{{ image_title }}" alt="{{ image_alt }}">
      </div>
      <div class="step-content">
        <h4 class="header underline">{{ content.field_title[0]['#context'].value }}</h4>
        {% if content.field_caption|field_value is not empty %}
          <p class="event-description">{{ content.field_caption[0]['#context'].value }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% if content.field_link|field_value is not empty %}
    </a>
  {% endif %}
{% endblock paragraph %}
